<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})"><head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <!-- Title Page-->
    <title>Registration form</title>

    <!-- Font special for pages-->

    <!-- Main CSS-->
</head>
<body>
<section>
    <div class="page-wrapper p-t-100 p-b-50" style="background-color:#3073c9;">
        <div class="wrapper wrapper--w900">
            <div class="card" style="width: 45rem;">
                <div class="card-body">

                <h1> Welcome to your dashboard</h1>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>